# Environment files
.env
.env.*
!.env.example

# Node
node_modules/

# Expo
.expo/
dist/
web-build/

# Android
android/.gradle/
android/app/build/
android/build/
android/.cxx/

# Logs
*.log

# OS
.DS_Store
Thumbs.db